<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Your new phrase:</h2>
    <br>
    <h2><%= @piglatinizer %></h2>
  </body>
</html>
